<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <form>
      <label for="param1">parameter1 =</label>
      <input type="number" id="param1" value="1"><br>
      <label for="param2">parameter2 =</label>
      <input type="number" id="param2" value="2"><br>
      <label for="oper">operation:</label>
      <select id="oper">
        <option id="add">add</option>
        <option id="sub">sub</option>
        <option id="mul">mul</option>
        <option id="div">div</option>
      </select><br><br>
      <button type="button" id="button-submit" value="Submit">Submit</button><br><br>
      <div>Result:
        <output id="result"></output>
      </div>
    </form>

    <script>
      const submitBtn = document.getElementById('button-submit');

      submitBtn.addEventListener('click', (event) => {
        event.preventDefault();
        send();
      });

      function send() {
        const result = document.getElementById('result');
        const formData = {
          param1: document.getElementById('param1').value,
          param2: document.getElementById('param2').value,
          oper: document.getElementById('oper').value
        };

        // console.log(formData);
        const xhr = new XMLHttpRequest();
        xhr.onreadystatechange = function() {
          console.log("state " + xhr.readyState);
          console.log("status " + xhr.status);
          if (xhr.readyState == 4 && xhr.status == 200) {
            let resTxt = JSON.stringify(xhr.responseText);
            result.innerHTML = JSON.parse(resTxt);
          }
        }
        xhr.open("POST", "http://localhost:3000/a", true);
        xhr.setRequestHeader('Content-Type', 'application/json;charset=UTF-8');
        xhr.send(JSON.stringify(formData));
      }
    </script>
  </body>
</html>