<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    Name: <%= fname %><br>
    Surname: <%= lname %><br>
    Age: <%= age %>
  </body>
</html>
